## Contracts

* Network: **RSK Mainnet**
* Type: **Production**

### Gobernanza

|  Contract  |  Address |  
|:---|:---|
|  Proxy Governor  | [0xC61F0392D5170214b5d93c0BC4c4354163abC1f7](https://explorer.rsk.co/address/0xC61F0392D5170214b5d93c0BC4c4354163abC1f7?__ctab=Code) |
|  Proxy Stopper  | [0x40662eD57284B4b541A42D347bE2447Abd1b119d](https://explorer.rsk.co/address/0x40662eD57284B4b541A42D347bE2447Abd1b119d?__ctab=Code) |
|  Stopper  | [0x0BD2949CB6c3c17a6AF84bF29C7E358F6DdcD5fc](https://explorer.rsk.co/address/0x0BD2949CB6c3c17a6AF84bF29C7E358F6DdcD5fc?__ctab=Code) |
|  Governor  | [0xCce9DaD3a431a43d57a27A4623B6Bc1F97e530Fe](https://explorer.rsk.co/address/0xCce9DaD3a431a43d57a27A4623B6Bc1F97e530Fe?__ctab=Code) |
|  ProxyAdmin  | [0x009c51e1f6fEDCdB8014eA9ae1e39B6dBF2Ac0ec](https://explorer.rsk.co/address/0x009c51e1f6fEDCdB8014eA9ae1e39B6dBF2Ac0ec?__ctab=Code) |
|  UpgradeDelegator  | [0x5CE577F6ec969Ce9A282838D350206C52A6F338C](https://explorer.rsk.co/address/0x5CE577F6ec969Ce9A282838D350206C52A6F338C?__ctab=Code) |

### Oracle

|  Contract  |  Address |  
|:---|:---|
|  FeedFactory  | [0x54878866F5324b56aEE9b6619A1E1a213b2fCC30](https://blockscout.com/rsk/mainnet/address/0x54878866F5324b56aEE9b6619A1E1a213b2fCC30/contracts) |
|  Medianizer  | [0x504EfCadfB020d6Bbaec8a5C5bb21453719d0e00](https://blockscout.com/rsk/mainnet/address/0x504EfCadfB020d6Bbaec8a5C5bb21453719d0e00/contracts) |

### Main RDOC Contract

**Tokens**

|  Contract  |  Address |  
|:---|:---|
|  RDOC  | [0x2d919f19D4892381d58EdEbEcA66D5642ceF1A1F](https://explorer.rsk.co/address/0x2d919f19D4892381d58EdEbEcA66D5642ceF1A1F) |
|  RIFP  | [0xF4d27C56595eD59B66cC7f03CFF5193E4Bd74a61](https://explorer.rsk.co/address/0xF4d27C56595eD59B66cC7f03CFF5193E4Bd74a61) |

**Implementations**

|  Contract  |  Address |  
|:---|:---|
|  MoCHelperLib  | [0xB63bB31a658c68a5B77A72464d23CD96Bf69941b](https://blockscout.com/rsk/mainnet/address/0xB63bB31a658c68a5B77A72464d23CD96Bf69941b/transactions) |
|  MoC  | [0x874056de3941f1aa208188e91a86fdfc498ac7a2](https://explorer.rsk.co/address/0x874056de3941f1aa208188e91a86fdfc498ac7a2?__ctab=Code) |
|  MoCConnector  | [0x6B3f320A7944189607d5fb2360B8D353880d8bd3](https://explorer.rsk.co/address/0x6B3f320A7944189607d5fb2360B8D353880d8bd3?__ctab=general) |
|  MoCRiskProxManager  | [0x0175ec99026D177F2b69E53B951B2E7e27b4F4B4](https://explorer.rsk.co/address/0x0175ec99026D177F2b69E53B951B2E7e27b4F4B4) |
|  MoCBurnout  | [0x40Bc17998288E44f6a4CB9B5fbCC4bec4B499a1D](https://explorer.rsk.co/address/0x40Bc17998288E44f6a4CB9B5fbCC4bec4B499a1D?__ctab=general) |
|  MoCSettlement  | [0xFed9c20050644EEDB5DFABD64d890a8Ad43edc2c](https://explorer.rsk.co/address/0xFed9c20050644EEDB5DFABD64d890a8Ad43edc2c?__ctab=general) |
|  MoCConverter  | [0x2E73eAb8FAe69b022b3C41719Ee6386D76ffaFD5](https://blockscout.com/rsk/mainnet/address/0x2E73eAb8FAe69b022b3C41719Ee6386D76ffaFD5/contracts) |
|  MocState  | [0x6D155B3a6A391532f648153E444001746264968c](https://blockscout.com/rsk/mainnet/address/0x6D155B3a6A391532f648153E444001746264968c/transactions) |
|  MocExchange  | [0xD5f8bCb6440C03305eb76473103F6DA6b9328721](https://blockscout.com/rsk/mainnet/address/0xD5f8bCb6440C03305eb76473103F6DA6b9328721/contracts) |
|  MocInrate  | [0xb637A4Ff35cDBe27C9C061f0fa7e0F18e1d59bAa](https://blockscout.com/rsk/mainnet/address/0xb637A4Ff35cDBe27C9C061f0fa7e0F18e1d59bAa/contracts) |
|  CommissionSplitter  | [0xAc7de98a426F6Ff51E1bd6588B41544c8ADdB2D1](https://explorer.rsk.co/address/0xAc7de98a426F6Ff51E1bd6588B41544c8ADdB2D1) |

**Proxies**

|  Contract  |  Address |  
|:---|:---|
|  MoC  | [0xCff3FCaEc2352C672C38d77cB1A064B7d50CE7e1](https://explorer.rsk.co/address/0xCff3FCaEc2352C672C38d77cB1A064B7d50CE7e1) |
|  MoCConnector  | [0xa0e2554e525b34Fd186C2c356C93d563541b02c0](https://explorer.rsk.co/address/0xa0e2554e525b34Fd186C2c356C93d563541b02c0?__ctab=general) |
|  moCRiskProxManager  | [0x07CD11fc4C4Ec0BDBDc2EC495F66A69BBA32E7e7](https://explorer.rsk.co/address/0x07CD11fc4C4Ec0BDBDc2EC495F66A69BBA32E7e7?__ctab=general) |
|  MoCBurnout  | [0x89fBf64EA00123f03B41f60ec23cF1B6c6E382A8](https://explorer.rsk.co/address/0x89fBf64EA00123f03B41f60ec23cF1B6c6E382A8?__ctab=general) |
|  MoCSettlement  | [0xb8a6BeBa78c3E73F6a66dDaCfAeb240AE22Ca709](https://explorer.rsk.co/address/0xb8a6BeBa78c3E73F6a66dDaCfAeb240AE22Ca709?__ctab=general) |
|  MoCConverter  | [0x94f6680201E5FbcA94fb8569AdfD8c1ee7cB061c](https://explorer.rsk.co/address/0x94f6680201E5FbcA94fb8569AdfD8c1ee7cB061c?__ctab=general) |
|  MocState  | [0x541F68a796Fe5AE3A381d2aA5A50B975632e40a6](https://explorer.rsk.co/address/0x541F68a796Fe5AE3A381d2aA5A50B975632e40a6) |
|  MocExchange  | [0x9497d2aECd0757dD4fCb4D5f2131293570FAd305](https://explorer.rsk.co/address/0x9497d2aECd0757dD4fCb4D5f2131293570FAd305) |
|  MocInrate  | [0x1DAb07C4fd07d6Ee1359a5198Aca2deE64F371f3](https://explorer.rsk.co/address/0x1DAb07C4fd07d6Ee1359a5198Aca2deE64F371f3) |


