# folders
artifacts/
build/
cache/
coverage/
deployments/
dist/
lib/
node_modules/
typechain/
profiles/
docs/
contracts/crytic-export/
.gitlab/
.vscode/
.openzeppelin/
export/
contracts_flat/
dependencies/mocV2Imports/

# files
coverage.json
tsconfig.json
README.md
CONTRIBUTING.md
LICENCE.md
CHANGELOG.md